<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>

        <title>
            Build-a-Blog
        </title>

    </head>
    <body>

        <div class="error">{{ error }}</div>

        <a href='/blog'>
            <h1>Build-a-Blog</h1></a>

        <a href='/blog/newpost'>
            <button type="button">New Post</button></a>

        <a href='/blog'>
            <button type="button">Home</button></a>

        <hr>
        
        {% block content %}
        {% endblock %}

    </body>
</html>